{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="text-center">
    <img style="width: 40rem; margin-top: 50px; margin-bottom: 40px;" src="../static/images/logo.png"></img>
</div>

<div class="jumbotron bg-none text-center" style="margin: 25px; margin-right: 20rem; margin-left: 20rem; background-color: white;">
    <h1 class="display-4 font-italic text-center font-weight-light">About Open Aisle</h1>
    <br>
    <p class="lead">Open Aisle shares information about elected officials based on street address. Users input a ZIP code to get information about their representatives at the national, state, and local level. They can access phone numbers, addresses, websites, and social media. We aim to help you stay informed and get engaged!</p>
    <hr class="my-4">
    <p>Questions? Contact us at openaisle@gmail.com</p>
    <a class="btn btn-primary btn-lg" href="../#search-now" role="button" style="background-color: #ff9c9c; border: #ff9c9c;">Search Now</a>
</div>

    <hr class="my-4" id="how-it-works">

    <div class="jumbotron spacer-large" style= "margin-right: 70px; margin-left: 70px; background-color: #fdc2c2;">
            <h1 class="display-4 font-italic text-center font-weight-light">How it works</h1>
            <br>
            <p class="text-center lead">After you input your street address or ZIP code, we return a page displaying your elected officials and their information.
            <br>Hover your cursor over each part of this sample card to see what information you get about each elected official.</p>
    </div>
    <div class="col-3 mx-auto" style="margin-bottom:20px">
    <div class="card border-dark">
        <div class="card-header" style="padding-top:20px;">
            <h5 class="card-title"><a data-toggle="popover" title="Official's name" data-trigger="hover" data-container="body">Elected Official</a></h5>
        </div>
        <div class="card-body">
    
    <!-- Phone and website -->

        Phone:
        <a class="card-text" data-toggle="popover" title="Official's phone number(s)" data-content="Click here to call their number(s)." data-trigger="hover" data-container="body">(123) 456-7890</a>
        <br>
        Website:
        <a class="card-text" data-toggle="popover" title="Official's website(s)" data-content="Click here to visit their website(s)." data-trigger="hover" data-container="body">website.com</a>
        <br>
        <br>
        <a class="btn btn-primary" data-toggle="popover" title="Official's primary number" data-content="Click here to call their primary number." data-trigger="hover" data-container="body" style="color:white;">Call</a>
        <br>
        <br>
    
    <!-- Address -->

        <div style="line-height: 1.6;">
        Mailing Address:
        <p class="card-text" style="margin:0;"><a data-toggle="popover" title="Official's office address" data-trigger="hover" data-container="body">
            652 Sleepy Hollow Lane
            Vineland, NJ 08360
            </a></p>
        </div>
        <br>
    
    <!-- Social Media Icons -->
        <div>
            <a data-toggle="popover" title="Official's Facebook" data-content="Click here to visit their Facebook page." data-trigger="hover" data-container="body"><i class="fab fa-facebook fa-3x" style="color:#0275d8;"></i></a>
            <a data-toggle="popover" title="Official's Twitter" data-content="Click here to visit their Twitter page." data-trigger="hover" data-container="body"><i class="fab fa-twitter fa-3x" style="color: #1DA1F2;"></i></a>
            <a data-toggle="popover" title="Official's Youtube" data-content="Click here to visit their YouTube channel." data-trigger="hover" data-container="body"><i class="fab fa-youtube fa-3x" style="color: #FF0000;"></i></a>
        </div>
        </div>
    
    <!-- Card Footer -->
        <div class="card-footer">
        <p class="font-italic"><a data-toggle="popover" title="Official's title" data-trigger="hover" data-container="body">Commissioner</p>
        <a data-toggle="popover" title="Official's Party" data-content="Click here to visit their the website of their political party." data-trigger="hover" data-container="body"><i class="fas fa-democrat icon-large" style="color:blue;"></i></a>
        </div>
    </div>
</div>

{% endblock %}